
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    transition: all .5s ease;
    width:100%;
    z-index:9999;
    position: fixed;
    top:0;
    
    
}
.headerbg{
    transition: all .5s ease;
    background: rgba(0, 0, 0, 0.9);
}
.cajamenu{
    width:100%;
    margin: auto;
    max-width: 1400px;
    
}
nav{
    height:100px;
    width:100%;
    /*background: #34495e;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cajalogo{
    display:inline-block;
    margin-top: 1em;
    margin-left: 10%;
}

nav #icon{
    color:white;
    font-size: 40px;
    float:right;
    margin-right: 40px;
    display: none;
}


.cajaicono{
    width: 40px;
    height:40px;
    float:right;
    margin-right: 40px;
    display: none;
    margin-top:1.5em;
    
}
.try{
    
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;

}
.hamburguesa{
    height: 15%;
    background: black;
    width: 100%;
    
    
}
.hamburguesa:after, .hamburguesa:before, .hamburguesa{
    position:absolute;
    width: 100%;
    content:'';
    background-color: #fff;
    transition: .5s;

}
.hamburguesa:after{
    height:100%;
    top:10px;
    
}
.hamburguesa:before{
    height:100%;
    top:-10px;
    
}
.cruz{
    transition: .5s;
    transform: rotateZ(45deg);
}
.cruz:before{
    transition: .5s;
    top:0px;
    transform:rotateZ(90deg)
}
.cruz:after{
    transition: .5s;
    top:0px;
    transform:rotateZ(0deg)
}
nav .ulmenu{
    float: right;
    margin-right: 5%;
    
}
nav .ulmenu .limenu{
    display: inline-block;
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 8px;
    
}
.limenu .amenu{
    color:#fff;
    font-size: 1em;
    text-transform: uppercase;
    padding: 7px 10px;
    
}
.amenu.active,.amenu:hover{
    background: #3FEA50;
    transition:  .5s, ease-in-out;
}

/*
<label id="icon">
                    <i class="fas fa-bars"></i>
                </label>
                */

@media (max-width:1069px){
    nav #icon{
        display:block;
     }
     header{
        background: rgba(0, 0, 0, 0.9);
     }
     nav .ulmenu{
         position:fixed;
         width: 100%;
         height: 100vh;
         top:100px;
         left:-100%;
         text-align: center;
         transition: all .5s;
         background: rgba(0, 0, 0, 0.9);
         
     }
     .ulmenu .limenu{
         display: flex;
         flex-direction: column;
         line-height: 0px;
         width:100%;
         margin:auto!important;
         border-style: solid;
        border-width: 0 0 1px ;
        border-color: #fff;
         
         

     }
     .limenu .amenu{
         display: block;
         padding: 2em 0;
     }
     nav .ulmenu.show{
         left:0%;

     }
     .cajaicono{
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
    
    
}
/*-----------------ESTILO SOCIAL BAR-----------------*/

.social-bar {
	position: fixed;
	right: 0;
	top: 60%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-whatsapp {
	background: #3FEA50;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

@media (max-width:1024px){
.social-bar{
    display:none;
}
}
/*----------ESTILO SLIDER--------------------*/
.container{
    
}
.gallery {
    border:2px solid black;
  }
  .slide {
    width:100%;
    height: 100vh;
    display:flex;
    position:relative;
    overflow: hidden;
    
  }
  
  .slide-item {
    
    width:100%;
    height:100%;
    /* background:blue; */
    display:flex;
    
  }
  .slide-item-1{
    background-image: url("./imagenes/fondobanneruno.jpg");
  }
  .slide-item-2{
    background-image: url("./imagenes/BANNERMOTODOS.jpg");
    background-position: center;
  }
  .slide-item-2 .titulosliderdos{
      color:#3FEA50;
  }
  .slide-item-3{
    background-image: url("./imagenes/bannerslidertres.jpg");
    background-position: center;
  }
  .slide-item-3 .tituloslidertres{
    color:#3FEA50;
}
  .slide-item .column {
    width:50%;
    height:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    
  }
  .slide-item .column img {
    object-fit:contain;
    max-width:100%;
  }
  

  
  .column h1 {
    margin-bottom:30px;
    text-align:center;
    color:#fff;
    font-family: 'theboldfont', sans-serif;
  }
  .column a {
    text-align:center;
    border-radius: 250px;
    text-decoration:none;
    padding:15px 30px;
    margin: 10px;
    margin-top:80px;
    color: #fff;
    background-color: #3FEA50;
    font-family: 'theboldfont', sans-serif;
    font-size:1.2em;
  }
  @media screen and (max-width: 768px) {
    .slide-item {
      flex-direction:column;
      width:100%;
    }
    .slide-item .column {
      width: 100%;
    }
    .container {
        margin-top: 100px;
    }
  }
  
  
  .item-select {
    transition: opacity 1s ease-in-out;
    display: flex;
    position: absolute;
    opacity: 1;
    visibility: visible;
    /* transform:translateX(0%); */
  }
  .item-none {
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    /* transform:translateX(100%); */
  }
  
  .button {
    position:absolute;
    color:white;
    padding:10px;
    cursor:pointer;
  }
  
  .button-next {
    right: 20px;
    top:48%;
  }
  .button-prev {
    left: 20px;
    top:48%;
  }
  .icon-arrow-right2{
    color:#3FEA50;
    text-decoration: none;
    font-size:25px;
}
.icon-arrow-right2:hover{
    transform: scale(1.4);
}
.icon-arrow-left2{
    color:#3FEA50;
    text-decoration: none;
    font-size: 25px;
    
}
.icon-arrow-left2:hover{
    transform: scale(1.4);
}

/*--------------------SECCION NOSOTROS-------*/
.contenedor90{
    width: 90%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}
.interiorcontenedor{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 7em;
    
}
.imagenizquierda{
    width: 40%;
    
}
.imagenizquierda img{
    width:100%;
}
.imagenmovil{
    display:none;
}
.textoderecha{
    width:50%;
    margin: 0 auto;
}
.cajatitulouno{
    margin-top: 5em;
    
    
}
.cajatitulouno .titulouno{
    text-align: center;
    color:#222222;
    font-size: 3em;
    font-family: 'theboldfont', sans-serif;
}
.cajatextouno{
    display: flex;
    margin-top: 150px;
    color:#6E7062;
}
.textouno{
        display: block;
        text-align: justify;
        font-size:1.1em;

}
.cajabotonuno{
    text-align: center;
}

@font-face {
    font-family:'theboldfont';
    src: url("./fonts/theboldfont.ttf");
}

.cajabotonuno h2{
    
    font-weight:500;
    margin-top:15%;
    text-transform: uppercase;
    color:#3FEA50;
    font-family: 'theboldfont', sans-serif;

}
.cajabotonuno .btnuno{
    color:#fff;
    width:40%;
    padding: 15px 25px;
    background: #3FEA50;
    margin-top:60px;
    margin-left: ;
    display: inline-block;
    border-radius: 250px;
    font-family: 'theboldfont', sans-serif;
    
}

@media (max-width:1024px){

    .contenedor90{
        width:100%;
        margin-top:0;
    }
    .interiorcontenedor{
        margin-top:0;
    }
    .imagenizquierda{
        width:100%;
    }
    .textoderecha{
        width: 85%;
    }
    .imagenmovil{
        display:block;
    }
    .imagenpc{
        display:none;
    }
}


/*---------------SECCIÓN SERVICIOS-------------*/
.contenedor100{
    width: 100%;
    margin-top: 100px;
    max-width: 1600px;
   
}
.bannerfondorecortado{
    width:100%;
    height:350px;
    background-image:url("./imagenes/bannerserviciosindex.png");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
  flex-wrap: wrap ;
  z-index: 20 !important;
}

.bannerfondorecortado h1{
    font-size: 4em;
    color:#fff;
    text-align: center;
    margin:auto;
    font-family: 'theboldfont', sans-serif;
    
    
}

.cajafotosservicios{
    z-index:50 !important;
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: -50px; */
    margin:-50px auto auto auto;
    
}
.fotosserviciosindex{
    width:200px;
    height:200px;
    margin-top: -20px;
    margin: auto;
}
.cajatextodos{
    width: 70%;
    text-align:center; 
    margin:auto;
    margin-top: 100px;
}
.cajatextodos p{
    color:#6E706E;
    text-align:justify;
}
.cajabotondos{
    text-align: center;
    margin-top: 100px;
}

.cajabotondos .btndos{
    color:#fff;
    width:220px;
    padding: 15px 25px;
    background: #3FEA50;
    margin-top:60px;
    margin: auto;
    text-align: center;
    display: inline-block;
    border-radius: 250px;
    
}
.cajabotondos .btndos:hover{
   -webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
    background-color: purple;
	color: #0493bd;
}
@media (max-width:700px){
    .bannerfondorecortado h1{
    font-size: 2em;
    }
    .cajafotosservicios{
        margin:30px auto auto auto;
        
    }
    .cajafotosservicios .fotosservicios{
        margin-top:30px;
        
    }
}

/*-----------------------SECCIÓN REPUESTOS------------*/
.contenedortres{
    margin-top: 100px;
    display: flex;
    width:100%;
    background-image: url("./imagenes/fondoblancobg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display:flex;
    flex-wrap: wrap ;
   
    
}
.cajaizquierda{
    width:60%;
    background-image: url("./imagenes/greenbg.png");
}
.imagenrepuestos img{
  max-width:100%;
    width: 50%;
    margin-top: 80px;
    
}
@keyframes mover{
    0%{
        transform:translate(100%)
    }
}

.imagenrepuestos {
    display: flex;
    justify-content: center;
    align-items: center;

}
.cajaderecha{
    width:40%;
    height: 100%;
}
.cajainteriorderecha{
    width:90%;
    height: 100%;
    text-align:center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cajatitulorepuestos{
    width: 90%;
    height: 100%;
    margin: 40px 0px 30px 0px;
    
}
.cajatitulorepuestos h1{
    margin-top: 50px;
    color:#222222;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'theboldfont', sans-serif;
}
.cajatextotres{
    margin-bottom: 30px;
    width:90%;
    margin-top:50px;
    text-align:center;   

}
.cajatextotres h3{
    text-transform: uppercase;
    color:#3FEA50;
    font-family: 'theboldfont', sans-serif;
}
.cajabotontres{
    width:90%;
    margin-top:40px;
    text-align:center;
    
}
.cajabotontres p{
    color:#fff;
    width:220px;
    padding: 15px 25px;
    background: #3FEA50;
    margin-bottom: 120px;
    text-align: center;
    display: inline-block;
    border-radius: 250px;
    font-family: 'theboldfont', sans-serif;
}
.cajabotontres p::before{
    background:#3FEA50;
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:-1;
    transition:all 0.6s ease;
}
.cajabotontres p:hover::before{
    width:100%;
    heoght:0;
    transform: translate(-50%, -50%) rotate(45deg);
}


@media (max-width:900px){
    .cajaizquierda{
        width:100%;
    }
    .cajaderecha{
        width:100%;
        margin:0 auto;
        
    }
    .cajainteriorderecha{
    width:100%;
    }
    .contenedortres{
    background-repeat:repeat;
    }
}

/*-------------------CONTACTO-----------*/
.contenedorcontacto{
    width:100%;
    height: 150vh;
    display:flex;
    justify-content: center;
    background-image: url("./imagenes/motobg.jpg");
    background-size: cover;
    
}
.cajainteriorcontacto{
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.titulocontacto{
    width:90%;
    margin: auto;
    text-align:center;
    padding-top:100px;
    padding-bottom: 100px;
    color:#fff;
    font-size:2em;
    font-family: 'theboldfont', sans-serif;
}
.cajaformulario{
    width:50%;
    display:flex;
    align-items: center;
}
.cajaformulario img{
    width:50%;
    margin: auto;
}
.cajatextocontacto{
    width:50%;
    display:flex;
    flex-wrap: wrap;
}
.lineacontacto{
    width:90%;
    margin:auto;
    text-align: center;
    margin-bottom:20px;
    display: flex;
    align-items:center;
}
.lineacontacto img{
    width: 50px;
}
.lineacontacto h3{
    color:#fff;
    font-size: 20px;
    width:70%;
}
.cajahorario{
    width:90%;
    margin: auto;
    text-align:center;
    margin-top:60px;
}
.cajahorario h1{
    font-size:20px;
    color:#fff;
}
.cajahorario h2{
    font-size:16px;
    color:#fff;
    margin-top:1em;
}
.tarjetas{
    width:90%;
    margin:auto;
    text-align: center;
    margin-top:50px;
    
}
.tarjetas h1{
    font-size:20px;
    color:#fff;
}
.fototarjetas{
    width:90%;
    margin:20px auto 0 auto;
    
}
.fototarjetas img{
    width: 80%;
}

@media (max-width:1024px){
    .titulocontacto{
        font: size 1;em;
        padding-top:10px;
    padding-bottom: 10px;
    }
    .cajaformulario{
        width:90%;
    }
    .cajatextocontacto{
    width:90%;
    margin-top:50px;
    display:flex;
    flex-wrap: wrap;
    }
    .cajaformulario img{
        width:80%;
        margin: auto;
    }
    .contenedorcontacto{
        width:100%;
        height: 350vh;
        display:flex;
        justify-content: center;
        background-image: url("./imagenes/motobg.jpg");
        background-size: cover;
        
    }
}

/*---------------STYLEFORM----------*/
